:root {
  --foreground-color: #111;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #83959b;
    --background-color: #0b1416;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  min-height: 100vh;
  font-size: 16px;
}

.Root {
  padding: 4rem 1rem 2rem;
}
