.Header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 1rem;
    width: 100%;
    border-bottom: 1px solid #ffffff1a;
    color: #F2F2F2;
    background: #0b1416;
    font-size: 2rem;
    z-index: 9999;

    &__nav {
        display: flex;
        width: 100%;
    }

    &__logo-link {
        padding: 0.5rem;
    }
}