.FeedPost {
    &__link {
        display: block;
        padding: 1rem;
        cursor: pointer;
        border-radius: 16px;

        &:hover {
            background-color: #131F23;
        }
    }

    &__delimiter {
        display: block;
        width: calc(100% - 2rem);
        margin: 3px auto;
        height: 1px;
        background-color: #ffffff1a;
    }
}