.FeedPost {
    display: block;
    padding: 1rem;
    cursor: pointer;
    border-radius: 16px;

    &:hover {
        background-color: #131F23;
    }

    &__delimiter {
        display: block;
        width: calc(100% - 2rem);
        margin: 3px auto;
        height: 1px;
        background-color: #ffffff1a;
    }

    &__title {
        color: #f2f2f2;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    &__head {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 0.85rem;
    }

    &__subdreddit-icon {
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #f2f2f2;
        text-align: center;
        line-height: 26px;
        margin-right: 10px;
    }

    &__subreddit-link-separator {
        font-size: 8px;
        margin: 0 8px;
    }

    &__subdreddit-title {
        color: #B8C5C9;
    }

    &__subdreddit-link {
        &:hover {
            .FeedPost__subdreddit-title {
                color: #A7CCFF;
            }
        }
    }

    &__stamp {
        color: #82959B
    }

    &__content {
        color: #B8C5C9;
        margin-bottom: 10px;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__footer-btn {
        height: 32px;
        padding: 0 0.75rem;
        background-color: #1A282D;
        color: #f2f2f2;
        margin-right: 14px;
        border: none;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;

        &:hover {
            background-color: #24353b;
        }

        &--rating {
            &:hover {
                background-color: #1A282D;
            }
        }
    }

    &__footer-icon {
        margin: 0 5px;

        &--rating:hover {
            color: #A7CCFF;
        }
    }

    &__rating {
        margin: 0 6px;
    }
}