.NewPostButton {
    padding: 10px 16px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    color: #f2f2f2;
    border-radius: 20px;

    &:hover {
        background-color: #24353b;
    }

    &__icon {
        width: 26px;
        height: 26px;
        display: inline-block;
        background: #f2f2f2;
        border-radius: 50%;
        margin-right: 6px;
        text-align: center;
        line-height: 25px;
        color: rgb(38, 203, 38);
        font-weight: bold;
    }
}