.Post {
    &__title {
        color: #f2f2f2;
        font-size: 1.2rem;
        margin-bottom: 10px;

        &--standalone {
            font-size: 2rem;
            padding-bottom: 10px;
        }
    }

    &__head {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 0.85rem;
        color: #B8C5C9;
    }

    &__head-metadata {
        display: flex;
        flex-wrap: wrap;
    }

    &__subdreddit-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #f2f2f2;
        text-align: center;
        line-height: 30px;
        margin-right: 10px;
    }

    &__subreddit-link-separator {
        font-size: 0.6rem;
        margin: 2px 8px;
    }

    &__author {
        // TODO lighter color than subdreddit
    }

    &__subdreddit-title {
        font-weight: bold;
    }

    &__subdreddit-link {
        &:hover {
            .Post__subdreddit-title,
            .Post__author {
                color: #A7CCFF;
            }
        }

        &--author {
            width: 100%;
            margin-top: 2px;
        }
    }

    &__stamp {
        color: #82959B
    }

    &__content {
        color: #B8C5C9;
        margin-bottom: 10px;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative; /* for sharing-options */

        &--standalone {
            padding-top: 20px;
        }
    }

    &__footer-btn {
        height: 32px;
        padding: 0 0.75rem;
        background-color: #1A282D;
        color: #f2f2f2;
        margin-right: 14px;
        border: none;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;

        &:hover {
            background-color: #24353b;
        }

        &--rating {
            &:hover {
                background-color: #1A282D;
            }
        }
    }

    &__footer-icon {
        margin: 0 5px;

        &--rating:hover {
            color: #A7CCFF;
        }
    }

    &__rating {
        margin: 0 6px;
    }

    &__sharing-options {
        position: absolute;
        left: 190px;
        bottom: -44px;
        display: flex;
        flex-direction: column;
        color: #B8C5C9;
        border-radius: 5px;
        z-index: 999;
        box-shadow: 0px 0px 6px #070707;
    }

    &__sharing-option {
        background-color: #0F1A1C;
        border: none;
        padding: 10px 20px;
        width: 160px;
        font-size: 1rem;
        color: #f2f2f2;

        &:hover {
            background-color: #131f24;
        }
    }
}